## directories to ignore
node_modules
build
docs

## file extensions to ignore
*.png
*.jpg
*.svg
*.gif
*.ico
*.svg
*.txt

## files to ignore
package-lock.json
package.json
pnpm-lock.yaml
yarn.lock
.prettierrc.json