<div class="social-links">
    <a href="https://github.com/mertssmnoglu" target="_blank">
        <span class="sr-only">Follow me on GitHub</span>
        <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/github"
            ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path></svg
        >
    </a>
    <a href="https://bsky.app/profile/mertsismanoglu.com" target="_blank">
        <span class="sr-only">Follow me on Bluesky</span>
        <svg
            viewBox="0 0 64 57"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/bluesky"
        >
            <path
                fill="currentColor"
                d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z"
            ></path>
        </svg>
    </a>
    <a href="https://mastodon.social/@mertssmnoglu" target="_blank">
        <span class="sr-only">Follow me on Mastodon</span>
        <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/mastodon"
            ><path
                fill="currentColor"
                d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
            ></path></svg
        >
    </a>
    <a href="https://twitter.com/mertssmnoglu" target="_blank">
        <span class="sr-only">Follow me on Twitter</span>
        <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/twitter"
            ><path
                fill="currentColor"
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            ></path></svg
        >
    </a>
    <a href="https://aya.is/tr/mert-sismanoglu" target="_blank">
        <span class="sr-only">See my profile on AYA</span>
        <svg
            width="32"
            height="32"
            viewBox="0 0 3000 3000"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
        >
            <path
                d="M1554.25 2243.97C1527.35 2260.24 1483.62 2260.28 1456.62 2244.16L537.662 1694.99L349.594 1794.02L1456.62 2455.56C1483.62 2471.68 1527.35 2471.59 1554.25 2455.37L2102.52 2125.22L2650.79 1795.07L2462.98 1696.76L1554.25 2243.97Z"
                fill="currentColor"
                fill-opacity="0.2"></path>

            <path
                d="M535.827 1759.24L246.253 1911.67C220.79 1925.05 205.353 1941.46 204.956 1955.52C204.559 1969.62 219.052 1986.8 243.672 2001.53L1486.84 2744.45C1489.17 2745.84 1495.63 2748.19 1505.26 2748.19C1514.94 2748.19 1521.49 2745.79 1523.87 2744.4L2756.42 2002.15C2781.04 1987.37 2795.43 1970.05 2794.99 1955.95C2794.59 1941.79 2779.05 1925.39 2753.59 1912.05L2465.01 1761L1584.62 2291.13C1562.59 2304.43 1534.4 2311.77 1505.26 2311.77C1476.37 2311.77 1448.37 2304.52 1426.44 2291.43L535.827 1759.24ZM1505.26 2859.31C1476.37 2859.31 1448.33 2852.07 1426.38 2838.97L183.216 2096.05C122.462 2059.73 88.5114 2007.38 90.0501 1952.45C91.6385 1897.51 128.518 1847.08 191.257 1814.08L539.499 1630.79L1486.84 2196.9C1489.13 2198.29 1495.63 2200.64 1505.26 2200.64C1514.99 2200.64 1521.49 2198.25 1523.87 2196.86L2460.99 1632.52L2808.34 1814.31C2871.18 1847.28 2908.15 1897.61 2909.94 1952.59C2911.63 2007.48 2877.88 2059.97 2817.22 2096.48L1584.62 2838.68C1562.59 2851.97 1534.4 2859.31 1505.26 2859.31Z"
                fill="currentColor"></path>

            <path
                d="M380.368 1230.26L1456.62 1873.43C1483.62 1889.6 1527.35 1889.45 1554.25 1873.28L2620.07 1231.46L1496.03 642.984L380.368 1230.26Z"
                fill="currentColor"
                fill-opacity="0.2"></path>

            <path
                d="M1496.07 706.173L246.253 1364.12C220.79 1377.46 205.353 1393.86 204.956 1407.97C204.559 1422.04 219.052 1439.25 243.672 1453.94L1486.84 2196.9C1489.13 2198.29 1495.63 2200.64 1505.26 2200.64C1514.99 2200.64 1521.49 2198.25 1523.87 2196.86L2756.42 1454.61C2781.04 1439.79 2795.43 1422.51 2794.99 1408.36C2794.59 1394.25 2779.1 1377.84 2753.59 1364.51L1496.07 706.173ZM1505.26 2311.77C1476.37 2311.77 1448.37 2304.52 1426.44 2291.43L183.216 1548.45C122.462 1512.18 88.5114 1459.84 90.0501 1404.9C91.6385 1349.97 128.518 1299.54 191.257 1266.48L1495.93 579.746L2808.34 1266.82C2871.18 1299.68 2908.15 1350.06 2909.94 1405C2911.63 1459.93 2877.88 1512.38 2817.22 1548.89L1584.62 2291.13C1562.59 2304.43 1534.4 2311.77 1505.26 2311.77Z"
                fill="currentColor"></path>

            <path
                d="M1456.62 1725.65C1483.62 1741.77 1527.35 1741.72 1554.25 1725.45L2786.85 983.256C2876.64 929.135 2874 845.842 2780.99 797.143L1546.56 150.904C1518.61 136.318 1473.39 136.366 1445.55 151.047L218.755 796.807C125.837 845.698 123.455 928.943 213.444 982.728L1456.62 1725.65Z"
                fill="currentColor"></path>
        </svg>
    </a>
</div>

<style>
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .social-links a {
        display: flex;
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
